**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/bin
**/docker-compose*.yml
**/Dockerfile
**/env.list
**/node_modules
**/npm-debug.log
.DS_Store
.dockerignore
.env
.git
.gitignore
.vs
.vscode
